@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



 body{
      font-family: 'Poppins', sans-serif;

    } 

    html {
      scroll-behavior: smooth;
    }

.nav-item:hover{
    border-bottom: 2px solid #deb887;
}


 /* Dropdown Button */
 .dropbtn {
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size:14px;
  }

  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity:0.5;
    height: 100%;
    width: 100%;
    transform: translateY(0,50%);
    margin-bottom: 3px;

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
     border-bottom: 2px solid #deb887;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;}  */


  .grid-item{
    width: 300px;
    height: 200px;
  }


  .form-container{
    margin:0; 
    background-color: #deb887;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container form{
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
    width:300px;
    padding:20px
  }

  input{
    width: 50%;
    margin-bottom: 8px;
    background-color:rgb(225, 244, 244);
    border:none;
    height: 5vh;
    padding:4px;
    font-size:14px
    
  }

  /* button{
    width:20%;
    border-radius: 30px;
    height: 5vh;
    color: #f1f1f1;
    background-color: rgba(151, 9, 9, 0.434);
    cursor: pointer;
    border: none;
    font-size:16px
  } */

   /* The Modal (background) */
.modal {
  display:none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.bag{
  font-size: 50px;
  line-height: 50px;
  
}

@media screen and (max-width:768px){
   .modal-content{
    width: 90%;
    margin:15% auto;
   }

}

/* -----button----- */

.button{
  display: inline-block;
  background-color:#a10404;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color:white;
  font-weight:500;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 3px 19px 18px 4px rgba(161,89,89,0.41);
-webkit-box-shadow: 3px 19px 18px 4px rgba(161,89,89,0.41);
}

swiper-slide{
  object-fit: cover;
}

swiper-slide img{
  width: 400px;
  height: 250px;
  
}

.button-enrol button{
  background-color: rgb(184, 0, 0);
  color: #fff;
  
  
}
.button-enrol button:hover{
  cursor: pointer;
  background-color: rgb(138, 43, 43);
  color: #fff;

}

.head-line{
  font-size:2.75rem;
  font-weight: 600;
  text-align: left;
  font-family:inter,sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  
  line-height: 80px;
  color:#fff
}

.head-tag{
  font-size: 19.2px;
  color:#fff;
  font-weight: 500px;
  line-height: 23.4px;
}


/* Add blur to header */

.blur__header{
  background-color: transparent;
  
}

.blur__header::after{
  content:'';
  position:absolute;
  width:1000%;
  height:100%;
  background-color: hsla(0,0%,10%,.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top:0;
  left: 0;
  z-index: -1;
}


.nav__container{
  background-image: linear-gradient(to right top, #a9aabc, #8385a0, #5e6185, #39406b, #0d2251);
}


.nav__container,.nav-bar{
  position:relative
}

.nav__toggle{
  position:absolute;
  right:1rem;
  top:2rem;
  font-size: 1.25rem;
}



.nav__close,
.nav__toggle{
  display:flex;
}

/* Navigation for mobile devices */
@media screen and (max-width:768px){
  .nav__menu {
    position:fixed;
    top:0;
    right:-100%;
    background-color:hsla(0,0%,10%,.3);
    width:50%;
    height:50%;
    padding: 2rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right .4s;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
      
    
   }

  
}



.nav__close{
  position: absolute;
  top:1rem;
  right: 1rem;
  font-size: 1.5rem;
}

/* ----show menu---- */
.show-menu{
  right: 0; 
}

@media screen and (min-width:768px){
  .nav__menu{
    display: flex;
    column-gap: 1.5rem;
  }

  .nav__close,
  .nav__toggle{
    display: none;
  }
}

/* .nav__container{
  position:fixed;
  top:0;
  background-color:hsla(0,0%,10%,.3);
  width: 100%;
  height: 15vh;
  z-index: 50;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
} */


/* ---hero section--- */

.hero{
  position: relative;
  height: 24rem;


}

.hero__img{
  object-fit: cover;
   width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.hero__content{
  position: relative;
  animation: move 2s;

}

@keyframes move{
  from{top:-3rem}
  to{top:0rem}
}


/* ---card--- */

.card{
  
 transition: transform .4s;
 
}

.card:hover{
  transform: translateY(-1.5rem);
  
}

.card__container{
  background-image: linear-gradient(to right top, #0f2650, #39446a, #5e6484, #8286a0, #a8aabc);
}
  

.secondhero__container{
  background-color: whitesmoke;
  padding: 2rem 2rem;
  
}

/* testimonial */

.testimonial__head{
  transition: transform .8s;
}

.testimonial__head:hover{
  transform: translateY(-1.5rem);
}

/*=============== SCROLL UP ===============*/

.scrollup{
  position:fixed;
  right:1rem;
  bottom:-50%;
  background-color: var(--body-color);
  padding: 6px;
  display:inline-flex;
  color:var(--first-color);
  z-index: 10;
  transition: bottom .4s, transform .4s;
  
}

.scrollup:hover{
  transform: translateY(.25rem);
}

/* Show Scroll Up */

.show__scrollup{
  bottom:3rem
}


/* ======ABOUT PAGE======== */



.about__hero{
    
    background-image: url(img/group-3.webp);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:50vh;
    width: 100vw;
    

}

.about__hero-content{
  padding-left: 3rem;
  height: 100%;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
  color:#ffffff;
  backdrop-filter: brightness(.5);



}
@media screen and (max-width:768px){
  .about__hero{
    background-image: url(/img/group-3i.jpeg);
  }
}


/* ====SHOE==== */
.shoe__hero{
  background-image: url(img/show-4.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:50vh;
  width: 100vw;

}
.shoe__hero-content{
  padding-left: 3rem;
  height: 100%;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
  color:#ffffff;
  backdrop-filter: brightness(.5);
}


.whatsapp{
 position:fixed;
 right:0;
 bottom:15vh;
 z-index:100;
 margin-right: 0.5rem;
 

}



